/*For login forms*/
/* Bordered form */
.l_form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  .login_input[type=text], .login_input[type=password], .login_input[type=tel],.login_input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login_input2[type=tel]{
    width: 20%;
    height:30px;
    padding: 12px 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .Prange{
    display:flex;
  }
  
  
  .form_button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for button */
  .form_button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Add padding to containers */
  .containerform {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  .login_form{
    margin-left:330px;
    padding-bottom: 50px;
  }
  .loginfullcontainer{
      padding-top:20px;
  }

  .register_here{
    margin-left:330px;
  }

  .register_button {
    background-color:black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }

  .register_button:hover {
    opacity: 0.8;
  }
  

.register_container{
  padding-top: 50px;
  margin-left:330px;
  padding-bottom: 200px;
}

.catinput
{
  margin-left:330px;
  padding-top: 120px;
  padding-bottom: 300px;
}
.payinput
{
  margin-left:330px;
  padding-top: 120px;
  padding-bottom: 270px;
}

.searchtable
{
  margin-left:330px;
  padding-top: 120px;
  padding-bottom: 270px;

}

.searchtable2
{
  margin-left:330px;
  padding-top: 120px;
  padding-bottom: 300px;

}